<%#-- copyright
OpenProject Backlogs Plugin

Copyright (C)2013-2014 the OpenProject Foundation (OPF)
Copyright (C)2011 Stephan Eckardt, Tim Felgentreff, Marnen Laibow-Koser, Sandro Munda
Copyright (C)2010-2011 friflaj
Copyright (C)2010 Maxime Guilbot, Andrew Vit, Joakim Kolsjö, ibussieres, Daniel Passos, Jason Vasquez, jpic, Emiliano Heyns
Copyright (C)2009-2010 Mark Maglana
Copyright (C)2009 Joe Heck, Nate Lowrie

This program is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License version 3.

OpenProject Backlogs is a derivative work based on ChiliProject Backlogs.
The copyright follows:
Copyright (C) 2010-2011 - Emiliano Heyns, Mark Maglana, friflaj
Copyright (C) 2011 - Jens Ulferts, Gregor Schmidt - Finn GmbH - Berlin, Germany

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% content_for :header_tags do %>
<%= render :partial => 'shared/backlogs_header' %>
  <%= stylesheet_link_tag 'backlogs/master_backlog.css' %>
  <%= javascript_include_tag url_for(:controller => '/rb_server_variables',
                                     :action => 'show',
                                     :project_id => @project) %>
<% end %>

<ul class="action_menu_main legacy-actions-main">
  <li><em>Legend </em></li>
<% available_story_types.each do |type| %>
  <li><%= type_icon(type.id, 0) %> <%= type.name %></li>
<% end %>
</ul>

<div class='contextual'></div>
<%= toolbar title: "<i class=\"fa fa-tachometer\"></i> #{l(:label_backlogs_overview)}" do %>
  <% current_backlog = @sprint_backlogs.first %>
  <% if current_backlog.present? %>
  <li class="toolbar-item">
    <%= link_to({
                  :controller => '/rb_taskboards',
                  :action => 'show',
                  :project_id => @project,
                  :sprint_id => current_backlog.sprint
                },
                :title => l('backlogs.current_spring_taskboard_hint'),
                :class => 'button -alt-highlight'
                ) do
    %>
      <i class="fa fa-thumb-tack"></i> <%= l('backlogs.current_spring_taskboard') %>
    <% end %>
  </li>
  <% end %>
    <li class="toolbar-item">
      <%= link_to(new_project_version_path(@project),
                  :title => l('backlogs.new_sprint_hint'),
                  :class => 'button'
          ) do
      %>
          <i class="fa fa-plus"></i> <%= l('backlogs.new_sprint') %>
      <% end %>
    </li>
    <li class="toolbar-item">
      <%= link_to('#',
                  :title => l('backlogs.initial_setup_hint'),
                  :class => 'button disabled'
          ) do
      %>
          <i class="fa fa-cogs"></i> <%= l('backlogs.initial_setup') %>
      <% end %>
    </li>
<% end %>

<div id="rb">
  <div id="backlogs_container" class="clearfix">
    <div id="owner_backlogs_container">
      <%= render :partial => 'backlog', :collection => @owner_backlogs %>
    </div>
    <div id="sprint_backlogs_container">
      <%= render :partial => 'backlog', :collection => @sprint_backlogs %>
      <% if @closed_sprint_backlogs.any? %>
      <h3>Closed Sprints</h3>
      <%= render :partial => 'backlog', :collection => @closed_sprint_backlogs %>
      <% end %>
    </div>
  </div>

  <div id="helpers">
    <%= render :partial => "rb_stories/helpers" %>
    <div id="last_updated"><%= date_string_with_milliseconds(@last_update, 0.001) %></div>
  </div>
</div>
<%
  #include calendar js files in case they are needed for edit
  include_calendar_headers_tags
-%>
